<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Regrify</title>
	</head>
	<body>
		<form method="POST">
			<label for="duration">duration: <span id="duration-value"></span> s</label> <br />
			<input type="range" id="duration" name="duration" min="120" max="600" value="230" /> <br />

			<label for="tempo">tempo: <span id="tempo-value"></span> bpm</label> <br />
			<input type="range" id="tempo" name="tempo" min="60" max="180" value="120" /> <br />

			<label for="danceability">danceability: <span id="danceability-value"></span></label> <br />
			<input type="range" id="danceability" name="danceability" min="0" max="1" step="0.01" value="0.66" /> <br />

			<label for="energy">energy: <span id="energy-value"></span></label> <br />
			<input type="range" id="energy" name="energy" min="0" max="1" step="0.01" value="0.68" /> <br />

			<label for="loudness">loudness: <span id="loudness-value"></span> dB</label> <br />
			<input type="range" id="loudness" name="loudness" min="-20" max="0" value="-7" /> <br />

			<label for="speechiness">speechiness: <span id="speechiness-value"></span></label> <br />
			<input type="range" id="speechiness" name="speechiness" min="0" max="1" step="0.01" value="0.11" /> <br />

			<label for="acousticness">acousticness: <span id="acousticness-value"></span></label> <br />
			<input type="range" id="acousticness" name="acousticness" min="0" max="1" step="0.01" value="0.17" /> <br />

			<label for="instrumentalness">instrumentalness: <span id="instrumentalness-value"></span></label> <br />
			<input type="range" id="instrumentalness" name="instrumentalness" min="0" max="1" step="0.01" value="0.03" /> <br />

			<label for="liveness">liveness: <span id="liveness-value"></span></label> <br />
			<input type="range" id="liveness" name="liveness" min="0" max="1" step="0.01" value="0.18" /> <br />

			<label for="valence">valence: <span id="valence-value"></span></label> <br />
			<input type="range" id="valence" name="valence" min="0" max="1" step="0.01" value="0.53" /> <br />

			<p>explicit:</p>
			<label for="explicit-yes">yes</label>
			<input type="radio" id="explicit-yes" name="explicit" value="1" /> <br />
			<label for="explicit-no">no</label>
			<input type="radio" id="explicit-no" name="explicit" value="0" checked /> <br />

			<label for="release_date">release_date: <span id="release_date-value"></span></label> <br />
			<input type="range" id="release_date" name="release_date" min="1960" max="2020" value="2007" /> <br />

			<p>genre:</p>
			<label for="genre-hiphop">hiphop</label>
			<input type="radio" id="genre-hiphop" name="genre" value="hiphop" checked /> <br />
			<label for="genre-latin">latin</label>
			<input type="radio" id="genre-latin" name="genre" value="latin" /> <br />
			<label for="genre-pop">pop</label>
			<input type="radio" id="genre-pop" name="genre" value="pop" /> <br />
			<label for="genre-r&b">r&b</label>
			<input type="radio" id="genre-r&b" name="genre" value="r&b" /> <br />
			<label for="genre-rap">rap</label>
			<input type="radio" id="genre-rap" name="genre" value="rap" /> <br />
			<label for="genre-rock">rock</label>
			<input type="radio" id="genre-rock" name="genre" value="rock" /> <br />
			<label for="genre-edm">edm</label>
			<input type="radio" id="genre-edm" name="genre" value="edm" /> <br />
		</form>

		<p id="prediction"></p>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		api_url = '{{ url_for("background_process")}}';
	</script>
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</html>
